# For Production :VITE_BACKEND_URL=http://your-backend.onrender.com
VITE_BACKEND_URL=http://localhost:4000
(for the development)

# Google AdSense Configuration
VITE_ADSENSE_CLIENT_ID=
VITE_ADSENSE_HORIZONTAL_SLOT=