# Server Configuration
PORT=3000
NODE_ENV=development(for development)
NODE_ENV=production( for production)

# MongoDB Configuration
# To connect to the Mongodb Compass :mongodb://localhost:2717/ai-ticket-platform
MONGO_URL=mongodb://mongodb:27017/ai-ticket-platform( for development)
# for the deploying we nned to create a db in mongogb altas( for production )
MONGO_URI_ATLAS=mongodb+srv://..............................


# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-here-make-it-long-and-random
JWT_EXPIRATION=24h

# Email Configuration (Mailtrap for development( it doesnot send mail , its a demo purpose only))
MAILTRAP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_PORT=2525
MAILTRAP_USER=your-mailtrap-username
MAILTRAP_PASS=your-mailtrap-password


#Resend Mail APi key :( for production)
RESEND_API_KEY=re_.........................

# AI Configuration
GEMINI_API_KEY=your-google-gemini-api-key-here

# Frontend URL (for CORS)
APP_URL=http://localhost:5173 ( for the development)
APP_URL=https://your-frontend.onrender.com

# Inngest Configuration ( no nned to upload in production)
INNGEST_DEV_SERVER_URL=http://localhost:8288
INNGEST_SERVE_HOST=http://backend:3000

#Inngest COnfiguration for Production 
INNGEST_EVENT_KEY = ......................
INNGEST_SIGNING_KEY=......................
