# Server Configuration
PORT=3000
NODE_ENV=development

# MongoDB Configuration
# To connect to the Mongodb Compass :mongodb://localhost:2717/ai-ticket-platform
MONGO_URL=mongodb://mongodb:27017/ai-ticket-platform

# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-here-make-it-long-and-random
JWT_EXPIRATION=24h

# Email Configuration (Mailtrap for development)
MAILTRAP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_PORT=2525
MAILTRAP_USER=your-mailtrap-username
MAILTRAP_PASS=your-mailtrap-password

# AI Configuration
GEMINI_API_KEY=your-google-gemini-api-key-here

# Frontend URL (for CORS)
#  For Production: APP_URL=http://frontend:5173
APP_HOST_URL=http://localhost:5173

# Inngest Configuration
INNGEST_DEV_SERVER_URL=http://localhost:8288
INNGEST_SERVE_HOST=http://backend:3000
